<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <h1>Login</h1>
            <form>
                <div>
                    <input type="text",name="first">
                </div>
            </form>
        </div>
    </body>
</html>
