@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*normalising font colour, style size etc*/
html{
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
    font-size: 50pt;
}

/*resetting all the padding and margins to 0 making it easier to work with */
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #1e1e24;
}

/*styling up sign up title*/
h1{
    font-size: 2em;
    position: relative;
    text-transform: uppercase;
    
}

/*wrapper contains all the items e.g. input box etc. Easier to manage & position*/
.wrapper{
    box-sizing: border-box;
    height: 100vh;
    width:100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* styling the input boxes and icons*/
form{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

form input{
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    padding: 1em;
    background-color: transparent;
    border-radius: 100px;
    box-shadow:  0 0  6px -1px #85b8ff;
    color: #ffffff;
    border: 0px;

    
}

/*positioning items*/
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*styling icons*/
form label{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*styling sign up button*/
.signup{
    background-color: #006aff;
    color: #ffffff;
    border: 0px;
    border-radius: 30px;
    width: 175px;
    height: fit-content;
    font-size: 30px;
    
}

/*styling login button*/
.login{
    background-color: #006aff;
    color: #ffffff;
    border-radius: 50px;
    width: 350px;
    font-size: 30px;
    border-radius: 30px;
    border: 0;
    height: fit-content;
    
    
}



